/*! Style Notes  */ /*
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

# Front-end Style Guide
  ## Layout
    The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px

  ## Colors
    ### Primary
      - Very dark blue (main background): hsl(233, 47%, 7%)
      - Dark desaturated blue (card background): hsl(244, 38%, 16%)
      - Soft violet (accent): hsl(277, 64%, 61%)

    ### Neutral
      - White (main heading, stats): hsl(0, 0%, 100%)
      - Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
      - Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

  ## Typography

    ### Body Copy
      - Font size: 15px

    ### Font
      - Family: [Inter](https://fonts.google.com/specimen/Inter)
      - Weights: 400, 700

      - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
      - Weights: 400

*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/*! variables setup  */
:root {
  --prim-main-background-color: hsl(233, 47%, 7%);
  --prim-card-background-color: hsl(244, 38%, 16%);
  --prim-accent: hsl(277, 64%, 61%);

  --neut-main-heading-stats: hsl(0, 0%, 100%);
  --neut-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --neut-stat-headings: hsla(0, 0%, 100%, 0.6);
}

/*! General Setup  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  background-color: var(--prim-main-background-color);
  color: #fff; /*! TODO change later */
}

/*! Style Notes  */
/*! Style Notes  */

/*! attribution  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
